main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;

    section {
        width: 400px;
        background-color: rgb(88, 134, 88);
        border-radius: 20px;
        padding: 20px;

        & div:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 20px;

            & h3 {
                height: 120px;
            }

            & label {
                display: flex;
                align-items: center;
                gap: 15px;

                & input {
                    height: 30px;
                    border-radius: 10px;
                    font-family: Arial, Helvetica, sans-serif
                }
            }

            & .button {
                display: flex;
                width: 200px;
                height: 50px;
                border-radius: 50px;
                margin: auto;
                cursor: pointer;
                background-color: rgb(206, 224, 206);
            }
        }

        & .risposta {
            color: whitesmoke;
            font-size: 20px;

            & b {
                font-weight: 700;
            }
        }
    }
}